<!-- Inspired By https://dribbble.com/shots/12236432-Wecode-Sign-up -->

<!--  FIX CENTERING -->

<div class="container-fluid h-100">
    <div class="row h-100 p-5 align-self-center">
      <!--<Login & Signup Section>-->
      <div class="col bg-white">
  
        <!-- <Carousel> -->
        <div id="carousel" class="carousel h-100 bg-white slide vert" data-interval="false" data-riding="carousel" data-wrap="false">
          <div class="carousel-inner h-100">
  
            <!-- <Login> -->
            <div class="carousel-item active h-100">
              <div class="row h-100 align-items-center">
  
                <div class="col-2"></div>
                <div class="col">
                  <h1 class="font-weight-bolder display-4">Welcome</h1>
                  <div class="mb-5 text-muted">Dont have an account? <span><u> <a href="#carousel" class="text-black" role="button" data-slide="next">
                          Sign Up
                        </a></u></span></div>
  
                  <form>
                    <div class="form-group mt-2">
                      <input type="email" class="form-control rounded-0" id="SI-EmailInput">
                      <label for="SI-EmailInput" class="text-muted">Your email</label>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control rounded-0" id="SI-PasswordInput">
                      <label for="SI-PasswordInput" class=" text-muted">Password</label>
                    </div>
  
                    <button type="submit" class="btn mt-5 rounded-0 border-0 w-100 btn-dark font-weight-bold p-3">Sign In</button>
                  </form>
                </div>
                <div class="col-2"></div>
  
              </div>
            </div>
            <!-- </Login> -->
  
            <!-- <Signup> -->
            <div class="carousel-item bg-white h-100">
              <div class="row h-100 align-items-center">
                <div class="col-2"></div>
                <div class="col">
  
                  <h1 class="font-weight-bolder display-4">Get Started</h1>
                  <div class="text-muted mb-5">Already have an account? <span><u> <a href="#carousel" class="text-black" role="button" data-slide="prev">
                          Sign In
                        </a></u></span></div>
  
                  <form>
                    <div class="form-group mt-2">
                      <input type="text" class="form-control rounded-0 " id="SU-InputName">
                      <label for="SU-InputName" class=" text-muted">Your name</label>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control rounded-0 " id="SU-InputEmail">
                      <label for="SU-InputEmail" class=" text-muted">Your email</label>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control rounded-0" id="SU-InputPhone">
                      <label for="SU-InputPhone" class=" text-muted">Phone number</label>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control rounded-0" id="SU-InputPassword">
                      <label for="SU-InputPassword" class=" text-muted">Password</label>
                    </div>
  
                    <button type="submit" class="btn rounded-0 border-0 w-100 btn-dark font-weight-bold p-3 mt-5">Sign Up</button>
                  </form>
                </div>
                <div class="col-2"></div>
              </div>
            </div>
            <!-- </Signup> -->
  
          </div>
        </div>
        <!-- </Carousel> -->
  
      </div>
      <!--</Login & Signup Section>-->
  
      <!--<Boarding Section>-->
      <div class="col bg-image  d-none d-md-block p-0">
        <!--       <div id="carouselBoarding" class="carousel h-100 bg-main slide" data-riding="carousel">
          <div class="carousel-inner h-100">
  
            <div class="carousel-item active h-100">
              SLIDE 1
            </div>
  
            <div class="carousel-item h-100">
              SLIDE 2
            </div>
  
            <div class="carousel-item h-100">
              SLIDE 3
            </div>
  
            <ol class="carousel-indicators round">
              <li data-target="#carouselBoarding" data-slide-to="0" class="active"></li>
              <li data-target="#carouselBoarding" data-slide-to="1"></li>
              <li data-target="#carouselBoarding" data-slide-to="2"></li>
            </ol>
  
          </div>
        </div> -->
      </div>
      <!--</Boarding Section>-->
    </div>
  
  </div> <!-- END OF CONTAINER -->
