<nav class="nav nav-2">
    <a class="nav-logo" href="#">Logo</a>
    <ul class="nav-list">
      <li>
        <a href=""routerLinkActive="home" ariacurrent="page">Home</a>
      </li>
      <li>
        <a href="" routerLink="contact-us">contact-us</a>
      </li>
      <li>
        <a href="" routerLink="about-us">about-us</a>
      </li>
      <li>
        <a href=""routerLink="services">services</a>
      </li>
      <li>
        <a href=""routerLink="login">login</a>
      </li>
    </ul>
  </nav>
