

    <script src="https://kit.fontawesome.com/677e1ac1b8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,900&family=Mukta:wght@200;300;400;500;600;700&family=Oswald:wght@200;300;400;500;600&family=Roboto+Condensed:wght@300;400;700&family=Yellowtail&display=swap"
        rel="stylesheet">


<body>
    <!-- <div id="header">

        <div class="logo">
            <i class="fas fa-headphones-alt fa-2x" id="header-img"></i>
            <h1 class="title">SoundEra</h1>
        </div>
        <nav id="nav-bar">
            <ul>
                <li>
                    <a href="http://" target="" rel="noopener noreferrer" class="nav-link">Home</a>
                    <li>
                        <a href="#products-main" target="" rel="noopener noreferrer" class="nav-link">Products</a>
                    </li>
                    <li>
                        <a href="http://" target="" rel="noopener noreferrer" class="nav-link">Services</a>
                    </li>
                    <li>
                        <a href="http://" target="" rel="noopener noreferrer" class="nav-link">About</a>
                    </li>
                    <li>
                        <a href="http://" target="" rel="noopener noreferrer" class="nav-link">Contact</a>
                    </li>
            </ul>
        </nav>
    </div> -->
    <main id="main">
        <div id="home">
            <div class="home-content">
                <h2>Feel the bass in your bones</h2>
                <a href="" class="buy-now"><span></span>Buy Now <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>

        <!-- Products -->
        <div id="products-main">
            <div class="products-title">
                <h2>Choose from the best of the best</h2>

            </div>
            <div id="products">
                <!-- <h2>Choose your type</h2> -->

                <div class="cards">
                    <img src="https://images.unsplash.com/photo-1513595086754-ae9ec42d7e90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZWFycGhvbmVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60" alt="">
                    <p>Earphones</p>
                    <a href="" class="buy-now"><span></span>Buy Now <i class="fa fa-chevron-right"></i></a>
                </div>
                <div class="cards">
                    <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZWFycGhvbmVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60" alt="">
                    <p>Headphones</p>
                    <a href="" class="buy-now"><span></span>Buy Now <i class="fa fa-chevron-right"></i></a>
                </div>
                <div class="cards">
                    <img src="https://images.unsplash.com/photo-1628210889224-53b2e3082fc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGVhcnBob25lc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60" alt="" height="200">
                    <p>Bluetooth Earphones</p>
                    <a href="" class="buy-now"><span></span>Buy Now <i class="fa fa-chevron-right"></i></a>
                </div>

            </div>
            <div id="embedded-video">
                <iframe id="video" width="702" height="395" src="https://www.youtube.com/embed/dhXCBR2Brkk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
        <!-- Services -->
        <div id="services">
            <div class="services-cards">
                <i class="fas fa-truck fa-2x"></i>
                <p> Free Delivery on orders more than Rs 599 </p>
            </div>
            <div class="services-cards">
                <i class="fas fa-calendar-check fa-2x"></i>
                <p> Two years of warranty for all products </p>
            </div>
            <div class="services-cards">
                <i class="fas fa-wallet fa-2x"></i>
                <p> Flat 20% cashback on your first order! </p>
            </div>
        </div>

        <!-- About -->
        <div id="about">
            <div class="about-content">
                <h2 class="heading center">About SoundEra</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos ut excepturi molestiae corrupti, quidem iste fugiat vel explicabo provident nostrum architecto non magni quo libero nihil perspiciatis. Explicabo, odit quo?
                    <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nemo dignissimos tempora ratione delectus alias aut soluta consequuntur? Aliquam, repellat.</p>
            </div>
        </div>

        <div id="contact">
            <h2 class="heading">Contact Us</h2>
            <h3>Please get in touch and our expert support team will answer your queries</h3>
            <form action="" id="form">
                <div class="form-controls">
                    <input type="text" placeholder="Full Name" name="full-name" id="full-name">
                </div>
                <div class="form-controls">
                    <input type="email" placeholder="Email" name="email" id="email">
                </div>
                <div class="form-controls">
                    <label for="radio">
                    Are you an existing customer?
                </label>
                    <input type="radio" id="yes" name="existing-customer">
                    <label for="existing-customer">Yes</label>
                    <input type="radio" id="yes" name="existing-customer">
                    <label for="existing-customer">No</label>
                </div>
                <div class="form-controls">
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter your Message"></textarea>
                </div>
                <div class="form-controls center btn">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
        <footer>
            <div class="center">
                Copyright & copy; All Rights Reserved.
            </div>
        </footer>
    </main>
</body>
